/maxEels.class
/Cut.class
/MagicDiamonds.class
/BacteriesColony.class
/BettingMoney.class
/GroceryBagger.class
/Guest.class
/JanuszTheBusinessman.class
/MatchMaking.class
/PaperFold.class
/PeacefulLine.class
/Person.class
/UserName.class
/Yahtzee.class
